<div class="content">

  <h2>Edit Pet</h2>

  <form action="/pets/<%= @pet.id %>" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @pet.name %>"><br>
    
    <label for="species">Species:</label>
    <input type="text" name="species" id="species" value="<%= @pet.species %>"><br>

    <label for"photo">Photo</label>
    <input type="text" name="photo" id="photo" value="<%= @pet.photo %>"><br>

    <label for="shop_id">Shop:</label>
    <select id="shop_id" name="shop_id">
      <% @shops.each do |shop| %>
        <option value="<%= shop.id %>" <% if shop.id == @pet.shop_id %> selected="true" <% end %>>
          <%= shop.name %>
        </option>
      <% end %>
    </select><br>

    <input type='submit' value="Update Pet">
  </form>

</div>